@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html {
  font-family: "EB Garamond", "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}
body {
  margin: 0;
  background: #ffffff;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 25px;
}
#contact-top p{
  text-align: center;
  margin: auto;
}
#abouth {
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
}
#answer {
  font-size: 30px;
  margin-left: 450px;
  text-decoration: underline;
}

#man-fig {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

#man, #statue, #monk, #water {
  width: 200px;
}
#man {
  border-radius: 10px;
  width: 400px;
  box-shadow:
    0 10px 30px -12px rgba(0,0,0,.42),
    0 4px 25px 0px rgba(0,0,0,.12),
    0 8px 10px -5px rgba(0,0,0,.2);
}

#question {
  display: table;
  margin: 0 auto;
  margin-top: 15px;
  text-align: left;
  list-style-type: disc;
}
#question li {
  margin-bottom: 3px;
}

#image-crop {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  box-shadow:
    0 10px 30px -12px rgba(0,0,0,.42),
    0 4px 25px 0px rgba(0,0,0,.12),
    0 8px 10px -5px rgba(0,0,0,.2);
}
#statue {
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-left: -50%;
  display: inline;
}

#history {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
#history-txt {
  margin: auto;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#image-bottom {
  display: flex;
  justify-content: center;
}
#monk, #water {
  width: 300px;
  box-shadow:
    0 10px 30px -12px rgba(0,0,0,.42),
    0 4px 25px 0px rgba(0,0,0,.12),
    0 8px 10px -5px rgba(0,0,0,.2);
    margin-bottom: 15px;
    border-radius: 10px;
}
#monk{
  margin-right: 40px;
}
#water{
  margin-left: 40px;
}

#logo {
  height: 110px;
  width: 115px;
  padding: 5px;
}

#mission {
  font-size: 30px;
  float: right;
  width: 50%;
}

.showSlide {
  display: none
}

.showSlide img {
  width: 100%;
}

.slidercontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.left, .right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.left:hover, .right:hover {
  background-color: rgba(115, 115, 115, 0.8);
}

.content {
  color: #000000;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}

main{
  margin-bottom: 60px;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

.nav {
  display: flex
}
.nav li {
  text-align: center;
  float: left;
  width: 33.3333333333%;
  flex: 1 1 auto;
}
.nav a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #2586F2; /* RGB: 9–92–233  dodgeblue*/
  padding: 18px;
}
.nav a:hover {
  background-color: rgb(19, 94, 165);
  transition: 1.0s ease;
}

.banner1{
  /* display: inline-block; */
  position: relative;
  width: 25%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  float:left;
  margin-bottom: 60px;
}
.banner1 img{
  position: relative;
  width: 80%;
  height: 100%;
  padding: 10px;
  float: left;
}

.form-container{
  position: relative;
  width: 50%;
  margin: 5vh 0;
  align-items: center;
  float:left;
  background-color: #7DBAFF;
  border-radius: 10px;
}

form{
  position: relative;
  width: 100%;
  /* height: 100%; */
  align-content: center;
  align-self: center;
  margin: 5vh auto;
  float: left;

}
.banner2{
   /* display: inline-block; */
  position: relative;
  width: 25%;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
  float: left;
  margin-bottom: 60px;
}
.banner2 img{
  position: relative;
  width: 80%;
  height: 100%;
  padding: 10px;
  float: right;
}
.data-input{
    font-family: 'Righteous', cursive;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 25px;




}
input[type='email'], [type='text'] , [type='tel']{
    background-color: #c6dff8;
    /* background-image: linear-gradient(to right, rgb(104, 181, 226), rgb(41, 163, 219)); */
    width: 50%;
    height: 40px;
    border: 0cm;


}

::placeholder {
  color: black;

}

select{
  background-color: #c6dff8;
  /* background-image: linear-gradient(to right, rgb(104, 181, 226), rgb(41, 163, 219)); */
  width: 50%;
  height: 40px;
  border: 0cm;
  margin-bottom: 25px;

}
.mes {
    background-color: #c6dff8;
    /* background-image: linear-gradient(to right, rgb(104, 181, 226), rgb(41, 163, 219)); */
    width: 50%;
    height: 75px;
    border: 0px;
}
input[type='submit']{
    background: linear-gradient(217deg, rgba(103, 209, 235, 0.897), rgba(28, 90, 223, 0.966) 70.71%),
    linear-gradient(127deg, rgb(8, 166, 228), rgb(15, 231, 213) 70.71%),
    linear-gradient(336deg, rgb(13, 241, 89), rgba(0, 255, 255, 0.918) 70.71%);
    color: white;
    margin: 35px auto;
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}


.contact-top{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 20%;
    margin: 20px;

}

.contact-top h1{
    text-align: center;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.contact-top p{
  text-align: center;
    display: block;
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.50em;
    margin-left: 0;
    margin-right: 0;
}

/*@media only screen and (min-width: 415px) {
  .nav {
    display: flex
  }
  .nav li {
    text-align: center;
    float: left;
    width: 33.3333333333%;
    flex: 1 1 auto;
  }

  @supports (display: flex) {
      .nav li {
        width: auto;
      }
    }
}
meta nav bar is stacked nav bar
*/

@media only screen and (max-width: 314px) {
  .nav li{
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  #man {
    width: 300px;
  }
}
@media only screen and (max-width: 725px) {
  #mission {
    width: 90%;
  }
  #image-bottom{
    display: flex;
    flex-direction: column;
  }
  #monk, #water {
    margin: 10px auto;
  }
}

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 60px;
  background-color: #a4bfdd;
  
}

.footer-text-left {
  font-size:25px;
  padding-left:40px;
  float:left;
  word-spacing:20px;
  margin: 15px auto;
 
}

a.menu {
 color: #00116e;
  font-size:20px;
}
.footer-content-right {
  padding-right:40px;
  margin: 5px auto;
  float:right;
}

.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
}



@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .banner1{
      /* display: inline-block; */
      position: relative;
      width: 100%;
      height: 25%;
      align-items: center;
      box-sizing: border-box;
      float:left;
    }
    .banner1 img{
      position: relative;
      width: 100%;
      height: 80%;
      padding: 10px;
      float: left;
    }

    .form-container{
      position: relative;
      width: 50%;
      margin: 5vh 0;
      align-items: center;
      float:left;
      background-color: #b2ddf083;
    }

    form{
      position: relative;
      width: 100%;
      /* height: 100%; */
      align-content: center;
      align-self: center;
      margin: 5vh auto;
      float: left;

    }
    .banner2{
       /* display: inline-block; */
      position: relative;
      width: 100%;
      height: 25%;
      align-items: center;
      box-sizing: border-box;
      float: left;
    }
    .banner2 img{
      position: relative;
      width: 80%;
      height: 100%;
      padding: 10px;
      float: right;
    }
}

@media only screen and (max-width: 1000px) {
  #man-fig {
    flex-direction: column;
  }
  #question {
    width: 70%;
  }
  #mission {
    margin-top: 15px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 1200px) {
  #answer{
    text-align: center;
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1600px) {
  body{
    margin: auto;
    width: 1600px;
  }
}
